@charset "UTF-8";
/*
# style.scss

moduleを読み込むscss

*/
/*
# list

汎用的なリストです
*/
/*
# list

```
<ul class="mod-list">
	<li>ListList</li>
</ul>
<ul class="mod-list">
	<li>ListList</li>
</ul>
```

*/
.mod-list {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

/*
#Btn

```
<a href="#" class="mod-btn">Button</a>
<a href="#" class="mod-btn :hover">Button:hover</a>
<a href="#" class="mod-btn :active">Button:active</a>
<a href="#" class="mod-btn :focus">Button:focus</a>
```

*/
.mod-btn {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #ccc;
}
.mod-btn:hover {
  color: #fff;
  background-color: #000;
}
.mod-btn:focus {
  background-color: #ddd;
}
.mod-btn:active {
  color: #fff;
  background-color: #aaa;
}

/*
# Headline

汎用的な見出しです
*/
/*
# Headline1

```
<h1 class="mod-headline-1">見出し１</h1>
```

*/
.mod-headline-1 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
}
