### npm ###
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Ruby ###
.bundle
vendor

### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### CSS ###
!htdocs/common/css/vendor/
htdocs/common/css/style.css

### JavaScript ###
!htdocs/common/js/vendor/
htdocs/common/js/script.js
htdocs/common/js/script.min.js
htdocs/common/js/lib.js
htdocs/common/js/lib.min.js
