@charset "UTF-8";
/*
# style.scss

分割したファイルやフレームワークなどを読み込むscss
詳しくはそれぞれのページを参照してください

- [partial/_setting](partial-setting.html)
- [partial/_abstract](partial-abstract.html)
- [partial/_reset](partial-reset.html)
- [partial/_base](partial-base.html)
- [partial/_layout](partial-layout.html)
- [partial/_module](partial-module.html)

*/
/*
# _abstract.scss

用途：mixinやfunctionを管理するファイルです。

*/
/*
# mixin

mixiについて書いていきます

*/
/*
## プロパティにvendor prefixをつける

- `$property` prefixを付けたいCSSプロパティ
- `$property-value` そのプロパティの値

<pre>
$support-webkit: true;
$support-mozilla: false;
$support-opera: false;
$support-ms: false;
.foo {
	@include prefixed(background-size, 10px 5px);
}
</pre>

*/
/*
## プロパティにvendor prefixをつける

- `$property` prefixを付けたいCSSプロパティ
- `$property-value` そのプロパティの値

<pre>
$support-webkit: true;
$support-mozilla: false;
$support-opera: false;
$support-ms: false;
.foo {
	@include prefixed(background-size, 10px 5px);
}
</pre>

*/
/*
# function

functionについて書いていきます

*/
/*
## 基本のフォントサイズをもとにemを求める

- `$size` 希望するフォントサイズ(px相当)
- `$currentSize` ベースになるフォントサイズ($basefontSizeを別に指定すること)

<pre>
$basefontSize: 14;
.foo {
	font-size: font-size(12);
}
</pre>

*/
