/*
# _layout.scss

用途：サイトのヘッダーやフッターなど、大枠の部分

*/
@import 'compass';

/*
#共通ヘッダ

```
<div class="mod-header">
	<h1>すごいサイト</h1>
	<h2>すごいサイトの説明</h2>
</div>
```

*/

.mod-header {
	width: 100%;
	height: 200px;
	background-color: #111;
	h1 {
		font-size: font-size(18);
		color: #fff;
	}
	h2 {
		font-size: font-size(14);
		color: #ccc;
	}
}

/*
#共通フッタ

```
<div class="mod-footer">
	<p class="mod-copyright"><small>copyright all right reserved...</small></p>
</div>
```

*/
.mod-footer {
	width: 100%;
	height: 100px;
	background-color: #333;
	@include box-sizing(border-box);
	padding: 10px;
	text-align: center;
}
.mod-copyright {
	color: #fff;
	font-size: font-size(20);
}
