/*
# _module.scss

用途：サイト内共通のモジュールをこのファイルで記述します。

*/

@import "compass";

/*
#ボタン

## 基本的なボタン

Modenizerを使用して状況に応じた見た目を作成しています。

```
<a class="mod-button">ボタン</a>
<a class="mod-button :hover">hover</a>
```

###   複数背景が使えない場合

```
<div class="no-multiplebgs"><!-- 本来はHTML要素にModenizerで付与される -->
	<a class="mod-button">ボタン</a>
	<a class="mod-button :hover">:hover</a>
</div>
```

###   box-shadowが使えない場合

```
<div class="no-boxshadow"><!-- 本来はHTML要素にModenizerで付与される -->
	<a class="mod-button">ボタン</a>
	<a class="mod-button :hover">:hover</a>
</div>
```

*/

.mod-button {
	$path-mod-button: "mod-button/ico_01.png";
	$path-mod-button--hover: "mod-button/ico_01_on.png";
	color: #1a1a1a;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	background-color: #f2f2f2;
	background-repeat: no-repeat, repeat-x;
	background-position: 20px 50%;
	@include background-image(
		image-url($path-mod-button),
		linear-gradient(top, whitesmoke, #efefef)
	);
	padding: 0.5em 20px 0.5em 28px;
	border-radius: 2px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	// hover時はアイコンの色変変わる
	&:hover {
		color: #999999;
		text-decoration: none;
		@include background-image(
			image-url($path-mod-button--hover),
			linear-gradient(top, #f8f8f8, whitesmoke)
		);
		@include background-size( auto auto, 100% auto);
	}
	.no-multiplebgs & {
		background-repeat: no-repeat;
		background-image: image-url($path-mod-button);
	}
	.no-multiplebgs &:hover {
		background-repeat: no-repeat;
		background-image: image-url($path-mod-button--hover);
	}
	.no-boxshadow & {
		border: 1px solid #e4e4e4;
	}
}
