/*
# _setting.scss

用途：サイト全体で利用されるグローバル変数を一括で管理します。

*/

 // IE8のサポート
$legacy-support-for-ie8: true;
 // 古いFirefoxのサポート
$legacy-support-for-mozilla: false;
 // Operaのサポート
$experimental-support-for-opera: false;
 // Wevkitグラデ
$support-for-original-webkit-gradients: false;

 //Path
$path-img: '/static/img';

 //DataURI
$dataURI-logo: "data:image/png;base64,xxxxxxxxxxxxxxxx...";

 //Base Style
$base-color: #595959;
$base-link-color: #00259b;
$base-font-size: 16;
$base-font-family: 'Arial, sans-serif';
$base-line-height: 1.5;
$base-mod-margin: 20px;


